/*

@TODO

- Needs webfont reference

*/




/* Stylesheet only */

h1.stylesheet, h2.stylesheet, h3.stylesheet {
  /* Resets */
  text-transform: uppercase !important;
  font-weight: 500 !important;
  line-height: 1.1 !important;
  color: #4a4a4a !important;
  background-color: #e7f0f0 !important;
  text-align: left !important;

  margin: 60px 0 30px 0 !important;

  width: 100%;
}

.subsection, .subsection h2 {
  width: 100%;
}

.subsection dl {
  font-family: "AvenirLT-Medium", Helvetica, Arial, sans-serif;
}

.subsection dl, .subsection dt, .subsection dd {
  padding: 0;
  margin: 0;
}

.subsection, .subsection dl {
  display: inline-block;
}

.subsection dl {
  margin-right: 25px;
}

dt.circle {
  display: inline-block;
	border-radius: 50%;
	width: 70px;
	height: 70px;
  margin-bottom: 10px;
	/* width and height can be anything, as long as they're equal */
}

dl.color-d63d35 dt.circle{
  background-color: #d63d35;
}
dl.color-5a5a5a dt.circle{
  background-color: #5a5a5a;
}
dl.color-50a0b4 dt.circle{
  background-color: #50a0b4;
}
dl.color-ed8444 dt.circle{
  background-color: #ed8444;
}
dl.color-a2b458 dt.circle{
  background-color: #a2b458;
}
dl.color-7b7b7b dt.circle{
  background-color: #7b7b7b;
}
dl.color-e7f0f0 dt.circle{
  background-color: #e7f0f0;
  border: 1px solid #4a4a4a;
}

/* Stylesheet only ends*/



/* Lobster Pictures Styles */
body {
  background-color: #e7f0f0;
}

h1 {
  font-family: "AvenirLT-Medium", Helvetica, Arial, sans-serif;
  font-size:46px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.1;
  color: #ffffff;
  background-color: inherit;

  width: 100%;
  text-align: center;
  /*H1's dynamically resize acording to device and size of title (e.g. two lines)*/
}

.masthead-title-wrap {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAEUlEQVQImWNgYGAoxYKpLggARz4LbkRL2CMAAAAASUVORK5CYII=) repeat;
  display: block;
  overflow: hidden;
  width: 100%;
}

h2 {
  font-family: "AvenirLT-Medium", Helvetica, Arial, sans-serif;
  font-size:28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  color: #4a4a4a;

  display: inline-table; /* For border-bottom - temp? */
}

h2.body-pull-block:after {
  /* Better than border-bottom alone, as it matches length of title*/
  content: "";
  border-bottom: 2px solid #d63d35;
  display: table-caption;
  caption-side: bottom;
  position: relative;
  margin-top:-0.15em;
}

h3 {
  font-family: "AvenirLT-Medium", Helvetica, Arial, sans-serif;
  font-size:27px;
  letter-spacing: 2px;
  text-transform: inherit;
  font-weight: 200;
  line-height: 1.1;
  color: #d63d35;
}

h4 {
  font-family: "AvenirLT-Medium", Helvetica, Arial, sans-serif;
  font-size:22px;
  letter-spacing: inherit;
  text-transform: inherit;
  font-weight: 200;
  line-height: 1.1;
  color: #4a4a4a;;
  background-color: #inherit;
}

p {
  font-family: "AvenirLT-Medium", Helvetica, Arial, sans-serif;
  font-size:16px;
  letter-spacing: inherit;
  text-transform: none;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
  background-color: inherit;
}


h1.body-pull-block:before {
  content: " ";
  border-left:3px solid #fff;
  border-top:3px solid #fff;
  border-bottom:3px solid #fff;
  padding:5px;
  top: -3px;
  bottom:-10px;
  margin: 0 50px 0 0;
  position: relative;
}


h1.body-pull-block:after {
  content: " ";
  border-right:3px solid #fff;
  border-top:3px solid #fff;
  border-bottom:3px solid #fff;
  padding:5px;
  top: -3px;
  bottom:-10px;
  margin: 0 0 0 50px;
  position: relative;
}

/* Lobster Pictures Styles - ends */
